@use "sass:map";

body {
  font-family: $ibm;
  margin: 0;
  letter-spacing: -0.03rem;
  background-color: $white;
  color: $black;
}

@each $k, $v in $font-sizes {
  #{$k},
  .#{$k} {
    font-size: $v;
    font-weight: $regular;
    margin: 0;
  }
}

@each $k, $v in $font-weights {
  .#{$k} {
    font-weight: $v;
  }
}

a {
  color: black;
  text-decoration: none;
  font-weight: $thick;
  transition: all 0.15s;

  &:hover {
    opacity: 0.5;
  }
}

.--muted {
  opacity: 0.35;
}

.home {
  @include flex($fd: column, $ai: flex-start);
  width: calc(100vw - 0.5rem * 2);
  height: calc(100vh - 0.5rem * 2);
  padding: 0.5rem;

  .header,
  .footer {
    @include flex;
    height: 3rem;
    width: calc(100vw - 0.5rem * 2);
    background-color: $white;
    position: fixed;
    z-index: 1000;
    top: 0;

    .line {
      content: " ";
      border-bottom: 1px solid $black;
      flex: 1;
      margin: 0.5rem 0 0 0.5rem;
    }

    h1 {
      font-weight: $thin;
    }

    h4 {
      padding: 0 0.2rem;
    }
  }

  .footer {
    padding: 0.5 0 1rem;
    top: auto;
    bottom: 0;
    height: 3rem;

    .line {
      margin-left: 0;
      margin-top: 0.2rem;
    }
  }

  main {
    margin-top: 5rem;
    height: 100%;
    width: 100%;

    nav {
      position: fixed;
      top: 3rem;
      height: 100%;
      width: 18rem;
      max-width: 18rem;

      h2 {
        margin: 1.5rem 0;
        font-weight: $thin;
      }

      a {
        display: block;
        font-size: $sm;
        &.disabled {
          opacity: 0.5;
          font-weight: $thin;
        }
      }

      p {
        margin-top: 1.5rem;
      }
    }

    .page-content {
      width: calc(100% - 18rem);
      margin: 1.5rem 0 1rem 18rem;
      @include flex($jc: flex-end);
      padding: 0 0 5rem;
      font-family: $vollkorn;

      &.main {
        flex-wrap: wrap;

        .blog-post {
          width: 20rem;
          border-bottom: 1px solid transparent;
          transition: all 0.15s;

          &:hover {
            border-color: $black;
          }

          .img-wrapper {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: relative;

            img {
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              object-position: center;
              object-fit: cover;
              cursor: pointer;
            }
          }

          a {
            display: inline-block;
            font-size: $md;
            margin-top: 0.5rem;
            width: 100%;
          }

          p {
            opacity: 0.5;
            margin: 0.2rem 0;
          }
        }
      }

      &.blog {
        flex-direction: column;
        align-items: flex-start;

        h3 {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
