// FONTS
@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Vollkorn:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=IBM+Plex+Sans:ital,wght@0,200;0,400;1,200;1,400&family=Vollkorn:ital,wght@0,400;0,600;1,400;1,600&display=swap");

$font-family: "Barlow", sans-serif;
$vollkorn: "Vollkorn", serif;
$ibm: "IBM Plex Sans", sans-serif;

$xlg: 2rem;
$lg: 1.5rem;
$md: 1.25rem;
$sm: 0.875rem;
$xsm: 0.75rem;

$font-sizes: (
  h1: $xlg,
  h2: $lg,
  h3: $md,
  h4: $sm,
  p: $xsm,
);

$thick: 600;
$regular: 400;
$thin: 200;

$font-weights: (
  thick: $thick,
  regular: $regular,
  thin: $thin,
);

// COLORS

$white: #fff;
$white: #fffff8;
$grey: rgb(218, 218, 218);
$black: rgb(44, 44, 44);
